*{
    margin:0px;
    padding:0px;

}
.test{
    color: blue;
    cursor: url("");

}

.container{
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: blue;
    padding:10px;
    width: 250px;
    color: yellow;


}
.box2{
    background-color: tomato;
    

}
.box3{
    background-color: black;
    

}